body{

    font-family: 'Outfit', sans-serif;
    text-align:center;
    margin:auto;
    background-color: hsl(212, 45%, 89%); 
}


    .container{
        width:1440px;
        height:100vh;
        margin:auto;
        display:flex;
        align-items: center;
        justify-content:center;
        
    }



img{
    width:100%;
    border-radius: 15px;
    
}

.qrcode{
    background-color:hsl(0, 0%, 100%);
    width: 288px;
    padding:14px;
    border-radius: 15px;
    box-shadow: 0 20px 10px hsl(0, 0%, 0%, 0.1)
    
}

.copy{
    padding:0 2%;
}

.copy p{
    color:hsl(220, 15%, 55%);
    font-size:15px;
}

.copy h1{
    color:hsl(218, 44%, 22%);
    font-size:22px;
}

 
@media only screen and (max-width:1440px){
    .container{
        width:100%;
        margin:auto;
    }
    
}
